// 不换行
@mixin no-wrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/**
 * 弹性盒子
 */
 @mixin flexBox($dir: row, $just: flex-start, $align: auto) {
	display: flex;
	display: -webkit-flex;
	flex-direction: $dir;
	align-items: $align;
	justify-content: $just;
}
/**
 * 设置文字样式
 */
 @mixin fontStyle($size: 16px, $color: $color-text, $weight: 400) {
	color: $color;
    font-size: $size;
    font-weight: $weight;
}