// 颜色定义规范
$color-theme: #008000;
$color-background: #f6f7fb;
$color-white: #fff;
$color-text: #40424c;
$color-text-d: #737c83;
$color-danger: #f56c6c;
$color-success: #40c46a;
$color-border: #d8d8d8;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 24px;
$font-size-large-xxx: 26px;

//头部高度和菜单栏宽度
// $header-height: 60px;
// $menuBarWidth: 200px;
